<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <!--Useful for debugging-->
    <target name="console" xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="file" xsi:type="File" fileName="${basedir}/App_Data/Site.log"
     layout="${date}: ${message}" />

    <target name="mail" type="Mail"
      subject="Error de RogersHouse en ${machinename}"
      smtpServer="mail.seo.org"
      smtpPort="25"
      smtpAuthentication="Basic"
      smtpUsername="ardeola@seo.org"
      smtpPassword="ardeola.se0"
      enableSsl="false"
      from="ardeola@seo.org"
      to="elosegui@gmail.com"
          />

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Fatal" writeTo="mail" />
  </rules>

</nlog>